/* Text Colors */

.text-priamry{
    color:#28a745;
}

.text-secondary{
    color: #0284d0;
}

/* Buttons */

.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-primary, .bg-primary{
    background: #28a745;
    color: #fff
}

.btn-secondary, .bg-secondary{
    background: #0284d0;
    color: #fff
}

.btn-outlined {
    background: transparent;
    border: 1px solid #fff;
}

.btn-dark,.bg-dark{
    background:#333;
    color:#fff;
}

.btn-light, .bg-light{
    background:#fff;
    color:#333;
}

/* Backgrounds  */

